.dropdown {
  position: relative;
  z-index: 20;

  &__items {
    background-color: var(--color-on-primary);
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  &__items {
    margin: 0;
    position: absolute;
    // left: 0;
    right: 0;
    top: 50%;
    list-style: none;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    transition: $transition;
    width: 180px;
    margin-top: 20px;

    li {
      padding: 10px 20px;
    }
    li:hover {
      background-color: var(--color-light-gray);
    }
  }
}
