.table-flex-container {
  overflow-x: auto;
}

.table-flex {
  display: flex;
  flex-direction: column;
  border-radius: $border-radius-small;
  min-width: fit-content;
}

.table-header {
  display: flex;
  font-weight: bold;
  background-color: var(--color-table-th);
}

.table-row {
  display: flex;
  border-bottom: 2px solid var(--color-table-th);
}

.table-row:last-child {
  border-bottom: none;
}

.table-cell {
  padding: $padding-medium;
  font-size: font-size(font-size-regular);
  flex: 1;
  height: 47px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: var(--color-on-primary-light);
  //   border-left: 2px solid #fff;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
}

.visibility-btn {
  cursor: pointer;
}

.table-row:hover {
  background-color: var(--color-table-th-hover);

  .sticky-cell {
    background-color: var(--color-table-th-hover);
  }
}

.sticky-cell {
  position: sticky;
  // for direction lft:
  // left: 0;
  // for direction rtl:
  right: 0;
  z-index: 10;
  max-width: 100px;
  min-width: 60px;
}
.sticky-header {
  background-color: var(--color-table-th);

  border-left: 2px solid var(--color-on-primary);
}
.sticky-row {
  background-color: var(--color-on-primary);
  border-left: 2px solid var(--color-table-th);
}

.small-cell {
  min-width: 100px;
}
.medium-cell {
  min-width: 200px;
}

.big-cell {
  min-width: 300px;
}
.visibility-is-off {
  max-width: 50px;
  min-width: 50px;
}

.visibility-title-off {
  max-width: 50px;
  min-width: 50px;
}

.visibility-btn {
  opacity: 0;
}

.table-cell:hover {
  .visibility-btn {
    opacity: 1;
  }
  
}