// card header
.card-header {
  color: var(--color-on-primary-light);

  .top {
    display: flex;
    gap: $gap-medium;
    padding-top: $padding-small;
    flex-direction: column-reverse;

    .left {
      display: flex;
      gap: $gap-medium;
      flex-direction: column;

      .title {
        display: flex;
        align-items: center;
        gap: $gap-small;

        .debit-number {
          font-size: font-size(font-size-small);
          margin-top: 15px;
        }
        span {
          font-size: 27px;
          color: var(--color-on-primary-light);
        }
        .material-symbols-outlined {
          margin-top: 5px;
        }

        .title-icon {
          color: var(--color-primary);
          opacity: 0.5;
          font-size: 35px;
        }
      }
      .medium-title {
        span {
          font-size: 30px;
        }
      }

      .small-title {
        span {
          font-size: 20px;
        }
      }

      .title-right {
        margin-top: 5px;
        display: flex;
        align-items: center;
        gap: 7px;
        // flex-wrap: wrap;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      font-size: font-size(font-size-regular);
      flex-wrap: wrap;

      .header-fields {
        display: flex;
        gap: $gap-small;
      flex-wrap: wrap;
      align-items: center;
      .add-circle {
        opacity: 0;
      }

        .edit-content {
          width: fit-content;
        }
        .edit-content.green {
          .edit-field {
            background-color: #b8e4c1;
            .value-text {
              color: #0B3A0F;
            }
          }
        }
        .edit-content.red {
          .edit-field {
            background-color: #FEE3E2;
            .value-text {
              color: #913239;
            }
          }
        }
        .edit-content.yellow {
          .edit-field {
            background-color: #FBF3CB;
            .value-text {
              color: #877D4B;
            }
          }
        }
        .edit-content.transparent {
          // .edit-field {
          //   background-color: transparent;
            .value-text {
              color: #877D4B;
            }
          // }
        }
        .focus-content {
          background-color: #E0E2EC;
          .label {
            color: var(--color-on-primary);
          }
        }
      }
      .header-fields:hover {
        .add-circle {
          opacity: .8;
        }
      }
   
      
    }
  }

  .small-top {
    margin-top: 0px;
  }

  @media screen and (max-width: 640px) {
    .top {
     flex-direction: column-reverse;
      gap: $gap-medium;

      .left {
        gap: $gap-small;
        flex-direction: column;
        // margin-bottom: 2rem;
        .title {
          align-items: center;

          .debit-number {
            font-size: 16px;
            margin-top: 0;
          }
        }

        .medium-title {
          span {
            font-size: 25px;
          }
        }

        .small-title {
          span {
            font-size: 20px;
          }
        }
      }
      .right {
        margin: 1rem 0 1.5rem 0;
        align-self: flex-start;
      }
    }
  }

  @media screen and (max-width: 350px) {
    .top {
       .right {
        width: auto;
      }
    }
  }
}




.card-header.mail-header {
  padding-bottom: 0;

  @media screen and (min-width: 800px) and (max-width: 1400px),
    (max-width: 600px) {
    .top {
      flex-direction: column-reverse;
      align-items: start;
      gap: $gap-medium;

      .left {
        gap: $gap-medium;
        // margin-bottom: 1rem;
        flex-direction: row;
      }
      .right {
        align-self: flex-end;
      }
    }
  }
  @include media-small {
    .top {
      .left {
        flex-direction: column;
      }
    }
  }
}