.kanban-container {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  cursor: grab;
  min-height: 100vh;
}
.kanban-container:active {
  cursor: grabbing;
}

.kanban {
  // min-height: 100vh;
  font-size: font-size(font-size-regular);
  background-color: var(--color-on-primary);
  border-radius: 1rem;
  animation: minimize-reversed 0.3s ease-in-out forwards;
  padding: 1rem;
  margin-bottom: 1rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: font-size(font-size-medium);
    // padding: 0 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    .status-container {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      margin: 0.5rem;
      padding: 0 0.5rem;
      border-radius: 1rem;
    }
    .status-container.green {
      background-color: #b8e4c1;
      color: #36562c;

      .fill-icon {
        color: #59854b;
      }
    }
    .status-container.yellow {
      background-color: #fcecbb;
      color: #625610;
      .fill-icon {
        color: #cbb434;
      }
    }
    .status-container.purple {
      background-color: #e1d6fe;
      color: #203053;

      .fill-icon {
        color: #395286;
      }
    }

    .fill-icon {
      font-size: font-size(font-size-medium);
    }

    .close-icon {
      font-size: font-size(font-size-xlarge);
      cursor: pointer;
    }
  }

  .small-screen-header {
    display: none;
  }

  &-content-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
}
@keyframes minimize-reversed {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.kanban.green {
  background-color: #dcecdf;
}
.kanban.yellow {
  background-color: #fcf2da;
}
.kanban.purple {
  background-color: #efe9fe;
}

.kanban-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem 1rem 1rem;
  max-width: 350px;
  min-width: 300px;
  width: 400px;
  // border: 0.5px solid var(--color-bg-dark);
  // border: 0.5px solid rgba(176, 176, 176, 0.719);

  border-radius: $border-radius-small;
  background-color: #ffffff7d;

  .kanban-title {
    text-align: start;
    padding-right: 0.4rem;
    font-size: font-size(font-size-medium);
    pointer-events: none; /* Make the kanban-title non-draggable */
    display: flex;
    justify-content: space-between;
  }

  .kanban-note {
    border-radius: 0.5rem;
    padding: 0.5rem 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: grab;
    background-color: var(--color-on-primary);
    position: relative;
    transition: $transition;
    z-index: 90;

    &-header {
      display: flex;
      justify-content: space-between;
      gap: 2rem;

      .status-icon {
        font-size: font-size(font-size-small);
        vertical-align: middle;
        color: var(--color-green);
      }

      .status-icon.green {
        color: var(--color-green);
      }

      .status-icon.blue {
        color: var(--color-blue);
      }

      .note-date {
        position: relative;
        cursor: pointer;
        transition: $transition;
        padding: 0 0.2rem;
        border-radius: $border-radius-small;
      }
      .note-date:hover {
        background-color: var(--color-hover-btn);
      }

      &__title {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        .material-symbols-outlined {
          font-size: 20px;
          opacity: 0.8;
        }
      }
    }

    .line {
      width: 100%;
      height: 1px;
    }
    .line.gray-border {
      background-color: #ababab;
    }
    .line.yellow-border {
      background-color: #f4e774;
    }
    .line.pink-border {
      background-color: #ffe4e2;
    }
    .line.blue-border {
      background-color: #d4e4ed;
    }
    .line.green-border {
      background-color: #d4edd7;
    }

    &-title {
      margin-bottom: -10px;
      font-size: 15px;
      color: var(--color-primary);
    }

    .kanban-icons {
      opacity: 0;
      display: flex;
      align-items: center;
      gap: 1rem;
      position: relative;
    }
  }
  .kanban-note:hover {
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    .kanban-icons {
      opacity: 1;
    }
    .select-note-icon {
      opacity: 1;
    }
  }
  .kanban-note.gray-border {
    border: 0.5px solid #dddddd;
    background-color: var(--color-on-primary);

  }
  .kanban-note.yellow-border {
    border: 0.5px solid #f4e774;
    background-color:  #fcf7cb;

  }
  .kanban-note.pink-border {
    border: 0.5px solid #ffe0de;
    background-color: #ffe8e6;
  }
  .kanban-note.blue-border {
    border: 0.5px solid #d4e4ed;
    background-color: #e9f7ff;

  }
  .kanban-note.green-border {
    border: 0.5px solid #d4edd7;
    background-color: #d4f1d6;

  }
}
.kanban-expanded {
  width: 700px;
  max-width: 700px;
}

// @media screen and (max-width: 985px) {
//   .kanban-container {
//     flex-direction: column;

//     .kanban {
//       min-height: 0;

//       &-header {
//         min-width: 97%;
//         position: fixed;
//         margin-left: 2rem;
//       }

//       .hidden-header {
//         display: none;
//       }

//       .small-screen-header {
//         display: flex;
//       }

//       .kanban-content-container {
//         margin-top: 5rem;
//       }
//     }
//   }
// }

.kanban.minimize {
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column-reverse;
  min-height: 120px;
  height: min-content;
  width: 50px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  animation: minimize 0.3s ease-in-out forwards;

  .green-header {
    background-color: #b8e4c1;
  }

  .yellow-header {
    background-color: #fcecbb;
  }

  .purple-header {
    background-color: #e1d6fe;
  }
}
@keyframes minimize {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.main-title {
  cursor: pointer;
  padding: 10px;
}


.color-menu {
  position: absolute;
  top: 40px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  z-index: 99;
  display: flex;
}

.color-option {
  cursor: pointer;
  margin-right: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transition: $transition;
}
.color-option:hover {
  border: 1px solid #000;
}
.color-option.active {
  border: 1px solid #000;
}

.default-border {
  position: relative;
  border: 1px solid #797979;
}
.default-border::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg); /* Center the pseudo-element */
  width: 100%; /* Maintain full width for line coverage */
  height: 2px; /* Adjust height for desired line thickness */
  background-color: transparent; /* Transparent background for better visibility */
  border-top: 1px solid #000; /* Diagonal line using border-top */
}
.pink-border {
  background-color: #ff99cc;
}

.blue-border {
  background-color: #99ccff;
}

.yellow-border {
  background-color: #fff099;
}

.green-border {
  background-color: #d4edd7;
}

.list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .list {
    display: flex;
    gap: 0.5rem;
    overflow: scroll;
    max-width: 300px;
    flex-wrap: nowrap;
    align-self: flex-end;
  }

  .list::-webkit-scrollbar {
    display: none;
  }

  .edit-content-menu__category {
    display: inline-block;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border: 1px solid var(--color-primary);
    padding: 0 0.5rem;
    cursor: pointer;
  }
  .edit-content-menu__category:last-child {
    margin-left: 0.5rem;
  }
  .edit-content-menu__category:hover {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
  .edit-content-menu__category.clicked {
    background-color: var(--color-primary);
    color: var(--color-on-primary);
  }
}

.note-card {
  .card-header {
    .top {
      .left {
        flex-direction: column;
        align-items: start;
        gap: 0;
      }
      .right {
        align-self: start;
        padding-top: 1rem;
      }
    }
  }

  .card-header {
    .top {
      .left {
        flex-direction: column;
      }
      .right {
        position: relative;
      }
    }
  }

  .round-img-container {
    display: none;
  }

  .card__boxes {
    grid-template-columns: repeat(1, 1fr) !important;
    // width: fit-content;
  }

  .card__boxes--box {
    padding: 8px 4px;
    border-radius: 0;
    // width: 0px !important;
    // min-width: fit-content !important;
    min-width: 300px;
  }

  .fields-wrapper .fields {
    grid-template-columns: repeat(1, 1fr);
  }
}
