.navbar {
  position: fixed;
  max-width: 3000px;
  width: 100%;
  background-color: var(--color-bg-light);
  color: var(--color-permanent-primary);
  display: flex;
  flex-direction: column;
  padding: $padding-medium;
  padding-bottom: 0;
  font-size: font-size(font-size-regular);
  z-index: 100;
  border: 1px solid var(--color-light-gray);

  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar__menu {
      display: flex;
      align-items: center;
      gap: $gap-large;
      &--side-toggle {
        cursor: pointer;
        display: none;
        span {
          font-size: font-size(font-size-regular);
        }
      }
      .navbar__menu--logo {
        display: flex;
        align-items: center;
        gap: $gap-small;
      }
    }

    .navbar__main {
      display: flex;
      gap: 1rem;
      .navbar__main--search,
      .navbar__main--create {
        display: flex;
        align-items: center;
        gap: $gap-medium;
        position: relative;
        width: 120px;
        &__links-container {
          display: flex;
          align-items: center;
        }
      }
      .navbar__main--menu {
        .field-container {
          .input-container {
            .skyz-name {
              padding-left: 1.5rem;
              color: var(--color-primary);
              font-weight: 700;
              font-size: 14px;
            }
          }
        }
      }
      .navbar__main--media-small {
        display: none;
      }
    }
    .navbar__personal {
      display: flex;
      align-items: center;
      gap: $gap-medium;
    }
  }
  .navbar-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    gap: .5rem;
    box-shadow: 0px 15px 10px -15px #afafaf;  
    .create-container {
     .group-container-create {
     margin-bottom: 1rem;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     gap: 0.5rem 1.5rem;
     .group {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.5rem;
      .group-name {
        font-size: font-size(font-size-regular);
        margin-right: 0.5rem;
        color: gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .dynamic-btns-group {
        opacity: 0;
        span {
          font-size: 22px;
        }
      }
      .group-name:hover {
        .dynamic-btns-group {
          opacity: 1;
        }
      }
      .group-topics {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: font-size(font-size-regular);
    
        .topic {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          padding: 0 0.5rem;
          border-radius: 6px 6px 0 0;
          margin-bottom: 0.6rem;
          border: 1px solid var(--color-bg-dark);
    
          span {
            font-size: 16px;
          }
        }
    
        .topic.green-clicked {
          background-color: var(--color-green-kanban);
          span {
            color: var(--color-green);
          }
        }
        .topic.blue-clicked {
          background-color: var(--color-blue);
          span {
            color: var(--color-primary);
          }
        }
      }
    
      .group-fields {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex-wrap: wrap;
        .edit-content {
          cursor: pointer;
          max-width: 100px;
          .edit-field:hover {
            background-color: var(--color-permanent-bg);
          }
        }
        .edit-content:hover {
          background-color: transparent;
        }
    
        .value-text {
          color: var(--color-on-primary-light);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .group-fields.green {
        .edit-field:hover {
          background-color: var(--color-green);
          .value-text {
            color: var(--color-on-primary);
          }
        }
      }
      .group-fields.blue {
        .edit-field:hover {
          background-color: var(--color-primary);
          .value-text {
            color: var(--color-on-primary);
          }
        }
      }
    }
    
    // .group:not(:first-child) {
    //   margin-top: 1rem;
    // }
    .group.green {
      .group-name {
        color: #36562c;
      }
      .group-fields {
        .edit-content {
          .edit-field {
            border: 1px solid #d5f3dc;
          }
          .edit-field:hover {
            background-color: #d5f3dc;
          }
        }
      }
    }
    .group.blue {
      .group-name {
        color: var(--color-primary);
      }
      .group-fields {
        .edit-content {
          .edit-field {
            border: 1px solid var(--color-blue);
          }
          .edit-field:hover {
            background-color: var(--color-blue);
          }
        }
      }
    }
    .group.purple {
      .group-name {
        color: #3b4aa1;
      }
      .group-fields {
        .edit-content {
          .edit-field {
            border: 1px solid #e1d6fe;
          }
          .edit-field:hover {
            background-color: #e1d6fe;
          }
        }
      }
    }
       }
    }
  }

  .navbar-bottom.menu {
    .menu {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      gap: 1rem;
      margin-bottom: 1.5rem;
    }
    .material-symbols-outlined {
      color: var(--color-primary);
    }
  }

  input[type="text"].search-input::placeholder {
    opacity: 0.5;
    font-size: font-size(font-size-regular);
  }

  @media screen and (max-width: 850px) {
    .navbar-top {
      flex-direction: column-reverse;
      align-items: end;
      gap: 1.5rem;
      .navbar__main {
        // display: none;
        .navbar__main--media-small {
          display: flex;
          gap: $gap-medium;
          align-items: center;
        }
      }

      .navbar__menu {
        display: none;
      }
      // .navbar__main .navbar__main--search,
      // .navbar__main .navbar__main--create {
      //   width: min-content;
      // }
    }
    // .navbar-input {
    //   display: none;
    // }
  }

  @include media-tablet-big {
    .navbar-top {
      .navbar__menu--side-toggle {
        display: block;
      }
    }
  }
}
.active {
  display: none !important;
}

.round-img-container {
  width: 40px;
  height: 40px;
  border-radius: $border-radius-round;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
  }
}

.navbar__overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--color-permanent-bg);
  position: fixed;
  opacity: 0;
  display: none;
  z-index: 10;
}
.navbar__overlay.open {
  display: block;
  opacity: 0.8;
}

.color-change {
  color: var(--color-primary);
}

.icons-container-create {
  display: flex;
  overflow: hidden;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  .create-category {
    cursor: pointer;
    transition: $transition;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: 1px solid var(--color-blue);
    padding: 0 0.4rem;
    border-radius: 8px;
    font-size: 12px;
    .create-icon {
      font-size: 17px !important;
      color: var(--color-primary) !important;
    }
  }
  .create-category:hover {
    background-color: var(--color-blue);
  }
}

.navbar__create-append {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  width: 100%;
}

.navbar__create {
  background-color: var(--color-permanent-bg);
  width: max-content;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 46px;
  border-radius: 2.2rem;
  padding-right: 1rem;
  background-color: var(--color-permanent-bg);
  transition: all 0.2s ease-in-out;

  .create-title {
    display: flex;
    align-items: center;
  }
}


.focus-category {
  background-color: var(--color-blue);
}

// .full-menu {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
//   justify-items: center;
//   padding: 1rem;
//   border-top: 1px solid var(--color-light-gray);
//   &__box {
//     display: flex;
//     flex-direction: column;
//     gap: 1rem;
//     align-items: center;
//     &--title {
//       font-size: 1.4rem;
//       display: flex;
//       align-items: center;
//       gap: 0.5rem;
//       color: var(--color-primary);
//       font-weight: 500;
//       .material-symbols-outlined {
//         font-size: 1.9rem;
//       }
//     }
//     &--list {
//       font-size: 1.2rem;
//       // margin-right: 2.5rem;
//       li {
//         cursor: pointer;
//         font-weight: font-weight(font-weight-light);
//       }
//       li:hover,
//       li:active {
//         font-weight: font-weight(font-weight-regular);
//       }
//     }
//   }

  
//   @include media-tablet-big {
//     grid-template-columns: repeat(4, 1fr);
//     gap: 20px;
//   }
//   @include media-small {
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

.search-width {
  width: fit-content;
  background-color: red;
}

.field-container {
  .input-container {
    background-color: var(--color-on-primary);
  }
  .input-container.yellow {
    border: 1px solid #DFAC4A;
  }
  .input-container.purple {
    border: 1px solid #6F45A1;
  }
  .input-container.green {
    border: 1px solid #3A700B;
  }
  .input-container.blue {
    border: 1px solid var(--color-primary);
  }
}