.navbar {
  position: fixed;
  max-width: 3000px;
  width: 100%;
  background-color: var(--color-bg-light);
  color: var(--color-permanent-primary);
  display: flex;
  flex-direction: column;
  padding: $padding-medium;
  padding-bottom: 0;
  font-size: font-size(font-size-regular);
  z-index: 100;
  border: 1px solid var(--color-light-gray);

  .navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar__menu {
      display: flex;
      align-items: center;
      gap: $gap-large;
      &--side-toggle {
        cursor: pointer;
        display: none;
        span {
          font-size: font-size(font-size-regular);
        }
      }
      .navbar__menu--logo {
        display: flex;
        align-items: center;
        gap: $gap-small;
      }
    }

    .navbar__main {
      display: flex;
      gap: 1rem;
      width: 300px;
      .navbar__main--search {
        display: flex;
        align-items: center;
        gap: $gap-medium;
        position: relative;

        &__links-container {
          display: flex;
          align-items: center;
        }
      }
      .navbar__main--media-small {
        display: none;
      }
    }
    .navbar__personal {
      display: flex;
      align-items: center;
      gap: $gap-big;
    }
  }
  .navbar-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
  }

  input[type="text"].search-input::placeholder {
    opacity: 0.5;
    font-size: font-size(font-size-regular);
  }

  @media screen and (max-width: 985px) {
    height: 7rem;

    .navbar-top {
      .navbar__main {
        display: none;
        .navbar__main--media-small {
          display: flex;
          gap: $gap-medium;
          align-items: center;
        }
      }
      .navbar__create {
        display: none;
      }
    }
  }
  @include media-tablet-big {
    .navbar-top {
      .navbar__menu--side-toggle {
        display: block;
      }
      .navbar__menu {
        .navbar__menu--logo {
          display: none;
        }
      }
    }
  }
}
.active {
  display: none !important;
}

.round-img-container {
  width: 50px;
  height: 50px;
  border-radius: $border-radius-round;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: block;
  }
  @include media-medium {
    width: 40px;
    height: 40px;
  }
}

.navbar__overlay {
  width: 100%;
  height: 100vh;
  background-color: var(--color-permanent-bg);
  position: fixed;
  opacity: 0;
  display: none;
  z-index: 10;
}
.navbar__overlay.open {
  display: block;
  opacity: 0.8;
}

.color-change {
  color: var(--color-primary);
}

.icons-container-create {
  display: flex;
  overflow: hidden;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
  .create-category {
    cursor: pointer;
    transition: $transition;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    border: 1px solid var(--color-blue);
    padding: 0 0.4rem;
    border-radius: 8px;
    font-size: 12px;
    .create-icon {
      font-size: 17px !important;
      color: var(--color-primary) !important;
    }
  }
  .create-category:hover {
    background-color: var(--color-blue);
  }
}

.navbar__create-append {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  width: 100%;
}

.navbar__create {
  background-color: var(--color-permanent-bg);
  width: max-content;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 46px;
  border-radius: 2.2rem;
  padding-right: 1rem;
  background-color: var(--color-permanent-bg);
  transition: all 0.2s ease-in-out;

  .create-title {
    display: flex;
    align-items: center;
  }
}

.group-fields {
  padding: 0 1rem;
  font-size: 14px;
}
.focus-category {
  background-color: var(--color-blue);
}
