::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  // display: none;
}

::-webkit-scrollbar-track {
  background-color: var(--color-primary);
  background: var(--color-on-primary);
  background-color: #f6f8fc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-light-gray);
  border-radius: 5px;
}
