.side-nav {
  background-color: var(--color-on-primary);
  background-color: var(--color-bg-light);
  top: 0;
  right: 0;
  z-index: 99;
  padding: 6.8rem 0 $padding-large 0;
  border-right: 1px solid var(--color-light-gray);
  border-left: 1px solid var(--color-light-gray);
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
  max-height: min-content;
  min-width: 210px;

  &__content {
    &--list {
      display: flex;
      flex-direction: column;
      &__item {
        cursor: pointer;
        text-align: center;
        display: flex;
        color: var(--color-on-primary-light);
        transition: $transition;
        gap: 1.2rem;
        flex-direction: column;
        padding: 1.4rem 2rem;

        .item-name {
          display: flex;
          justify-content: space-between;
          gap: 2rem;
          align-items: center;
          flex-wrap: wrap;
          width: 170px;
          position: relative;
          a {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            font-size: font-size(font-size-regular);
          }
          span {
            font-size: font-size(font-size-large);
            color: var(--color-on-primary-light);
          }
        }

        .sidebar-menu {
          position: fixed;
          max-width: 500px;
          background-color: var(--color-on-primary);
          box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
            0 9px 46px 8px rgba(0, 0, 0, 0.12),
            0 11px 15px -7px rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          padding: 10px;
          right: 180px;
          z-index: 100;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-top: 0.5rem;
          display: flex;
          gap: 0.5rem;
          .group {
            // display: flex;
            // align-items: flex-start;
            // flex-direction: column;
            gap: 0.5rem;
            .group-name {
              font-size: font-size(font-size-regular);
              margin-right: 0.5rem;
              color: gray;
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
            .dynamic-btns-group {
              opacity: 0;
              span {
                font-size: 22px;
              }
            }
            .group-name:hover {
              .dynamic-btns-group {
                opacity: 1;
              }
            }
            .group-topics {
              display: flex;
              align-items: center;
              gap: 1rem;
              font-size: font-size(font-size-regular);

              .topic {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0 0.5rem;
                border-radius: 6px 6px 0 0;
                margin-bottom: 0.6rem;
                border: 1px solid var(--color-bg-dark);

                span {
                  font-size: 16px;
                }
              }

              .topic.green-clicked {
                background-color: var(--color-green-kanban);
                span {
                  color: var(--color-green);
                }
              }
              .topic.blue-clicked {
                background-color: var(--color-blue);
                span {
                  color: var(--color-primary);
                }
              }
            }

            .group-fields {
              display: flex;
              align-items: center;
              gap: 0.5rem;
              flex-wrap: wrap;
              .edit-content {
                max-width: 100px;
                .edit-field:hover {
                  background-color: var(--color-permanent-bg);
                }
              }
              .edit-content:hover {
                background-color: transparent;
              }

              .value-text {
                color: var(--color-on-primary-light);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
              }
            }
            .group-fields.green {
              .edit-field:hover {
                background-color: var(--color-green);
                .value-text {
                  color: var(--color-on-primary);
                }
              }
            }
            .group-fields.blue {
              .edit-field:hover {
                background-color: var(--color-primary);
                .value-text {
                  color: var(--color-on-primary);
                }
              }
            }
          }

          .group:not(:first-child) {
            margin-top: 1rem;
          }
          .group.green {
            .group-name {
              color: #36562c;
            }
            .group-fields {
              .edit-content {
                .edit-field:hover {
                  background-color: #d5f3dc;
                }
              }
            }
          }
          .group.blue {
            .group-name {
              color: var(--color-primary);
            }
            .group-fields {
              .edit-content {
                .edit-field:hover {
                  background-color: var(--color-blue);
                }
              }
            }
          }
          .expand-more {
            align-self: flex-end;
            font-size: font-size(font-size-regular);
          }
        }

        &--collapse {
          display: flex;
          flex-direction: column;
          color: var(--color-on-primary-light);
          text-align: start;
          span {
            font-size: font-size(font-size-small);
            width: 100%;
            padding: 0.5rem 1rem;
          }
          span:hover {
            color: var(--color-on-primary-light);
            background-color: var(--color-hover-btn);
          }
        }
      }

      &__item:hover,
      &__item:active {
        background-color: var(--color-permanent-bg);
      }

      &__item:focus {
        -webkit-tap-highlight-color: transparent;
        outline: none;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
      }
      &__item.create-item {
        // background-color: var(--color-permanent-secondary);
        border-radius: $border-radius-small;
        margin-bottom: 1rem;
        padding: $padding-small $padding-medium;
        flex-direction: row;
        width: 130px;
        align-self: center;
        margin-top: 1rem;
        background-color: var(--color-blue);
        color: var(--color-on-blue);
      }
      &__item.create-item:hover,
      &__item.create-item:active {
        // background-color: var(--color-permanent-secondary-hover);
        background-color: var(--color-blue-hover);
      }
    }
  }
  @include media-tablet-big {
    position: fixed;
    width: 150px;
    display: none;
    &__content {
      position: relative;
      height: 100vh;
    }
  }
}

.active-sidebar {
  display: block;
}

.side-nav__content--list__item {
  position: relative;
}

.btn-actions-menu {
  align-self: end;
}

@media screen and (max-width: 700px) {
  .sidebar-menu {
    right: 0 !important;
    // top: 0;
  }
}

.not-visible {
  display: none !important;
}
.visible {
  display: flex;
}

.reduced-groups {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  .reduced-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: font-size(font-size-regular);
    background-color: var(--color-blue);
    padding: 0.4rem 0.8rem;
    border-radius: $border-radius-medium;
  }
  .reduced-group:hover {
    background-color: var(--color-blue-hover);
  }
}
